/* *
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body
{
    display: grid;
    place-items: center;
    height: 100vh;
} */
.game
{
    height: 400px;
    width: 1200px;
    margin: auto;
    border: 1px solid black;
    overflow: hidden;
}
#dino
{
    height: 70px;
    width: 70px;
    position: relative;
    top:300px;
    background-image: url("dino.png");
    background-size: 70px 70px;

}
.dinoActive{
    animation: dinoAnimate 0.5s linear infinite;
}

.jump {
    animation: jump 1s linear;
}
@keyframes jump {
    0%
    {
        top: 290px;
    }
    30%
    {
        top: 240px;
    }
    50%
    {
        top: 210px;
    }
    80%
    {
        top: 240px;
    }
    100%
    {
        top: 290px;
    }
}
#block
{
    height: 50px;
    width: 50px;
    position: relative;
    top: 240px;
    left: 1100px;

    background-image: url("block.png");
    background-size: 70px 70px;
    animation: blockAnimate 2s infinite linear;
}


@keyframes blockAnimate {
    0%
    {
        left: 1100px;
    }
    100%
    {
        left: 0px;
    }
}
#road
{
    height: 30px;
    width: 2800px;
    position: relative;
    top: 230px;
    background-image: url("road.png");
    /*background-size: 10px  -1000px;*/
    animation: roadAnimate 2s infinite linear;
}

@keyframes roadAnimate{
    0%
    {
        left: 0;
    }
    100%
    {
        left: -800px;
    }
}
#cloud
{
    height: 80px;
    width: 200px;
    border-radius: 40px;
    position: relative;
    background-image: url("Cloud.png");
    top: 5px;
    left: 500px;
}


@keyframes cloudAnimate {
    0%{
        left: -1000px;
    }
    100%{
        left: 100%;
    }
}
#score
{
    height: auto;
    width: auto;
    position: relative;
    top: -150px;
    right: -1050px;
}
#gameOver
{
  display: none;
    font-size: 70px;
    position: absolute;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #525252;
}



